<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head", { pageTitle: "ABSOLUTE CONTROL" }); %>
<!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
<style>
.page { padding: 6vh 0 0 0; }
.cardDesc {
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
}
</style>
<body>
   <% if (user !== "(not signed in)") { %>
         <div class="layout dark:bg-gray-900 dark:text-gray-100">
         <%- include("../partials/navbar"); %>
         <script>
            let project = <%- project %>;
            let cards = project.data;
            let projectId = project.id;
         </script>

         <div class="page">
            <div class="content grid" style="grid-template-columns: 30% 70%">
               <div class="overflow-auto bg-gray-50 dark:bg-gray-800" style="height: 94vh">
                  <div class="grid sticky top-1.5 z-10 align-middle gap-x-2 py-1.5 px-4 mt-1.5 mx-2 bg-white dark:bg-gray-700 outline-amber-400 outline-0 hover:outline-2 backdrop-blur-sm rounded-full" style="grid-template-columns: 7% auto; box-shadow: 0 0 .2vh #22222222">
                     <span class="material-symbols-rounded text-2xl">search</span>
                     <input class="searchCards bg-transparent focus:outline-none focus:border-none" type="text" placeholder="Search..." title="Ahhhhhhhhhhhhhhhhhhhhhhhh!">
                  </div>
                  <div id="cardBox"></div>
                  <p class="mb-3 text-center text-gray-400 dark:text-gray-500">And that's the end!</p>
               </div>
               <div class="activeCard p-4">
                  <div class="acName text-3xl font-nunito">💖💖💖 Place holder content! 💖💖💖</div>
                  <p class="acAbout text-xl text-gray-800 dark:text-gray-300"></p>
                  <p class="acStatus"></p>
                  <p class="acTeam"></p>
                  <p class="acTags"></p>
                  <p class="acPri"></p>
                  <p class="acDif"></p>
                  <p class="acMadeOn"></p>
                  <p class="acDue"></p>
                  <p class="acEstTime"></p>
                  <p class="acId"></p>
                  <!-- <button class="py-2 px-6 font-semibold rounded-md bg-gray-800 text-white">Save</button> -->
               </div>
            </div>
         </div>
      </div>
      <%- include("../partials/locbar", { text: "Home>ABSOLUTE CONTROL" }); %>
   <%} else { %>
      <%- include("../partials/signedOut"); %>
      <%- include("../partials/signIn"); %>
   <% } %>
</body>
<style>
.gradient-project-overview {
   background: linear-gradient(to bottom right, #82b1ff, #2962ff);
   -webkit-background-clip: text;
   -webkit-text-fill-color:transparent;
   background-clip: text;
}
</style>
<script src="/scripts/digit-v.0.1.1-tweaked.js"></script>
<script src="/scripts/project/control.js"></script>
</html>