<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head", { pageTitle: "Editing Project" }); %>
<style>
.page { padding: 3vh 0 0 0; }
</style>
<body class="overflow-hidden">
   <% if (user !== "(not signed in)") { %>
      <div class="layout bg-gray-50 dark:bg-gray-800 dark:text-gray-100">
         <%- include("../partials/navbar"); %>
         <div class="page">
            <!-- Locbar improved (TM) -->
            <a class="p-2 px-3 fixed right-2 bottom-2 bg-white dark:bg-gray-800 shadow hover:shadow-md dark:shadow-gray-900 dark:hover:shadow-gray-900 hover:bottom-3 transition-[.2s] text-gray-900 dark:text-gray-50 text-bold font-nunito rounded-lg z-50" href="dashboard">&#8592; Back to dashboard</a></p>
            <% if (thisProject.contributors.includes(user.userCall)) { %>
               <div class="content">
                  <script>
                     let cardArray = <%- JSON.stringify(thisProject.data) %>;
                     let projectId = <%- JSON.stringify(thisProject.id) %>;
                  </script>
                  <!-- Search -->
                  <div class="filter absolute top-0 z-10 p-3 bg-white/[.8] dark:bg-gray-800/[.8] border-b-2 border-gray-50/[.8] dark:border-gray-700/[.8] backdrop-blur-sm" style="width: calc(100% - 4.5rem); display: grid; grid-template-columns: auto 1fr auto;">
                     <div class="filterUpdatable inline"></div>
                     <div class="inline-grid align-middle gap-x-2 py-1.5 px-4 ml-2 bg-white dark:bg-gray-700 outline-amber-400 outline-0 hover:outline-2 backdrop-blur-sm rounded-full" style="grid-template-columns: 5% auto; box-shadow: 0 0 .2vh #22222222">
                        <span class="material-symbols-rounded text-2xl">search</span>
                        <input class="searchCards bg-transparent focus:outline-none focus:border-none" type="text" placeholder="Search..." title="ðŸ”">
                     </div>
                     <div class="pl-2" dir="rtl">
                        <button onclick="show('createCard')" class="p-1 px-3.5 ml-0.5 align-middle bg-gradient-to-br from-amber-400 to-orange-400 text-white text-4xl font-nunito font-semibold rounded-xl" title="New Card">+</button>
                        <button onclick="toggleFilters()" class="p-1 px-3.5 align-middle bg-gray-100 dark:bg-gray-700 text-4xl font-nunito font-semibold rounded-xl" title="Filters"><span class="material-symbols-rounded">filter_alt</span></button>
                     </div>
                  </div>
                  <!-- Cards -->
                  <div id="cardDiv">;)</div>
                  <!-- Filters -->
                  <div class="filter-box absolute bottom-0 -right-[20rem] rounded-tl-lg p-4 z-90 bg-white/[.9] dark:bg-gray-800/[.9] backdrop-blur-xl w-[20rem]" style="transition: .2s">
                     <div class="text-center text-xl uppercase font-bold text-gray-400 dark:text-zinc-500">Filter Cards</div>
                     <div>
                        <form class="p-2 px-4 m-3 ml-0 border-4 border-violet-700 rounded-md relative">
                           <p class="-m-1 mb-3 text-violet-900 font-semibold text-lg text-center">Filter by status</p>
                           <select name="filter-status" id="filter-cards-by-status" class="p-1 px-2 rounded-lg bg-violet-100 dark:bg-violet-700">
                              <option value="to-do">to-do</option>
                              <option value="archived">archived</option>
                           </select>
                           <button class="py-2 px-4 bg-violet-600 dark:bg-violet-500 text-white text-semibold rounded-xl absolute right-2 bottom-2" onclick="event.preventDefault(); filterCardsByStatus(document.querySelector('#filter-cards-by-status').value)">Filter</button>
                        </form>
                        <div class="border-l-4 border-l-yellow-500 dark:border-none rounded-md">
                           <div class="py-2 px-4 m-1 bg-yellow-100 text-yellow-900 dark:text-yellow-300 dark:border-[.05rem] dark:bg-transparent darkshadow-sm dark:shadow-gray-600 dark:border-yellow-300 rounded-lg" onclick="filterCards('priority', 'asc')">Sort by Priority (Asc)</div>
                           <div class="py-2 px-4 m-1 mb-2 bg-yellow-100 text-yellow-900 dark:text-yellow-300 dark:border-[.05rem] dark:bg-transparent darkshadow-sm dark:shadow-gray-600 dark:border-yellow-300 rounded-lg" onclick="filterCards('priority', 'desc')">Sort by Priority (Desc)</div>   
                        </div>
                        <div class="border-l-4 border-l-lime-500 dark:border-none rounded-md">
                           <div class="py-2 px-4 m-1 bg-lime-100 text-lime-900 dark:text-lime-300 dark:border-[.05rem] dark:bg-transparent darkshadow-sm dark:shadow-gray-600 dark:border-lime-300 rounded-lg" onclick="filterCards('difficulty', 'asc')">Sort by Difficulty (Asc)</div>
                           <div class="py-2 px-4 m-1 mb-2 bg-lime-100 text-lime-900 dark:text-lime-300 dark:border-[.05rem] dark:bg-transparent darkshadow-sm dark:shadow-gray-600 dark:border-lime-300 rounded-lg" onclick="filterCards('difficulty', 'desc')">Sort by Difficulty (Desc)</div>   
                        </div>
                        <div class="border-l-4 border-l-pink-500 dark:border-none rounded-md">
                           <div class="py-2 px-4 m-1 bg-pink-100 text-pink-900 dark:text-pink-300 dark:border-[.05rem] dark:bg-transparent darkshadow-sm dark:shadow-gray-600 dark:border-pink-300 rounded-lg" onclick="filterCards('date', 'asc')">Sort by Due Date (Asc)</div>
                           <div class="py-2 px-4 m-1 mb-2 bg-pink-100 text-pink-900 dark:text-pink-300 dark:border-[.05rem] dark:bg-transparent darkshadow-sm dark:shadow-gray-600 dark:border-pink-300 rounded-lg" onclick="filterCards('date', 'desc')">Sort by Due Date (Desc)</div>   
                           <p class="m-2 ml-4 text-pink-900 dark:text-pink-300 text-md">*Sorting by due date will remove items without due dates</p>
                        </div>
                        <div class="py-2 px-4 text-red-600 rounded-md border-4 border-red-600 font-extrabold text-xl uppercase text-center" onclick="resetFilters()">Reset Filters</div>
                     </div>
                  </div>
               </div>
               <%- include("../partials/createCard"); %>
            <% } else { %>
               <div class="flex justify-center items-center" style="height: 80vh">
                  <div class="p-6 bg-gray-100 dark:bg-gray-800 rounded-lg text-center font-nunito">
                     <p class="m-3 text-gray-800 dark:text-gray-100 text-2xl">Oh, no! You aren't in this project ðŸ˜­</p>
                     <p class="m-3 text-gray-800 dark:text-gray-100 text-2xl">Maybe ask to join it? I'm crossing my fingers for you!ðŸ¤ž</p>
                  </div>
               </div>
            <% } %>
         </div>
      </div>
   <%} else { %>
      <%- include("../partials/signedOut"); %>
   <% } %>
</body>
</html>
<script src="/scripts/digit-v.0.1.1-tweaked.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/scripts/project/edit.js"></script>
<style>
.cardObject {
   display: grid;
   grid-template-columns: auto auto;
}
@media screen and (max-width: 1300px) {
   .cardObject { grid-template-columns: auto; }
   .card { margin: 8px; }
}
</style>