<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head", { pageTitle: "Project Settings" }); %>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<body>
   <% if (user !== "(not signed in)") { %>
      <div style="display: grid; grid-template-columns: auto auto;">
         <%- include("../partials/navbar"); %>

         <div class="page dark:bg-gray-900 dark:text-gray-100 border-l-gray-50 dark:border-l-gray-700 border-transparent border-[.3vh]">
            <div class="content grid" style="grid-template-columns: 70% 30%">
               <div class="main">
                  <% if (JSON.parse(thisProject).contributors.includes(user.userCall)) { %>
                     <div id="cardDiv"></div>
                  <% } else { %>
                     <div class="flex justify-center items-center" style="height: 80vh">
                        <div class="p-6 bg-gray-100 dark:bg-gray-800 rounded-lg text-center font-nunito">
                           <p class="m-3 text-gray-800 dark:text-gray-100 text-2xl">Oh, no! You aren't in this project 😭</p>
                           <p class="m-3 text-gray-800 dark:text-gray-100 text-2xl">Maybe ask to join it? I'm crossing my fingers for you!🤞</p>
                        </div>
                     </div>
                  <% } %>
               </div>
               <div>
                  <div class="p-6 text-gray-800 dark:text-gray-200 bg-gray-50 dark:bg-gray-800 rounded-xl">
                     <div class="p-4 mb-2 bg-gray-100 dark:bg-gray-700 rounded-xl">
                        <p class="flex items-center mb-3 text-2xl"><span class="material-symbols-rounded mr-2 text-3xl gradient-dashboard">badge</span><%= thisProject.name %></p>
                        <p class="m-1 mb-3 text-1xl"><%= thisProject.description %></p>
                     </div>
                     <p class="flex items-center mb-3 text-1xl"><span class="material-symbols-rounded mr-2 text-3xl gradient-dashboard">person_filled</span> Made by <%= thisProject.creater %></p>
                     <p class="flex items-center mb-3 text-1xl"><span class="material-symbols-rounded mr-2 text-3xl gradient-dashboard">group</span> Contributors: <%= thisProject.contributors %></p>
                     <p class="flex items-center mb-3 text-1xl"><span class="material-symbols-rounded mr-2 text-3xl gradient-dashboard">calendar_today</span> Created: <%= JSON.parse(thisProject).dateCreated.toLocaleString() %></p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <%- include("../partials/locbar", { text: "site:settings" }); %>
   <%} else { %>
      <%- include("../partials/signedOut"); %>
      <%- include("../partials/signIn"); %>
   <% } %>
</body>
<style>
.gradient-dashboard {
   background: linear-gradient(to bottom right, #82b1ff, #2962ff);
   -webkit-background-clip: text;
   -webkit-text-fill-color:transparent;
   background-clip: text;
}
</style>
<script>let cardArray = <%- JSON.stringify(thisProject.data) %></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</html>