<!-- Top location bar -->
<div class="locbar py-[1vh] px-[2.5vh] fixed h-[6vh] left-0 top-0 w-full text-gray-900 dark:text-gray-50 bg-white/[.8] dark:bg-gray-800/[.8] border-b-2 border-gray-50/[.8] dark:border-gray-700/[.8] backdrop-blur-sm z-50">
   <% if (text == "site:dashboard") { %>
      <p class="text-bold font-nunito"><a href="/"><span class="material-symbols-rounded homeicon text-gray-800 dark:text-gray-50">data_object</span></a>Home>Projects><%= thisProject.name %><a class="p-0.5 px-3 float-right text-stone-700 dark:text-slate-200 bg-stone-50 dark:bg-slate-900 rounded-lg" href="/<%= thisProject.name %>/edit">Edit project &#8594;</a><a class="p-0.5 px-3 mr-2 float-right text-stone-700 dark:text-slate-200 bg-stone-50 dark:bg-slate-900 rounded-lg" href="/your-projects">&#8592; Your projects</a></p>
   <% } else if (text == "site:editproject") { %>
      <p class="text-bold font-nunito"><a href="/"><span class="material-symbols-rounded homeicon text-gray-800 dark:text-gray-50">data_object</span></a>Home>Edit Projects><%= thisProject.name %><a class="p-0.5 px-3 float-right text-stone-700 dark:text-slate-200 bg-stone-50 dark:bg-slate-900 rounded-lg" href="/<%= thisProject.name %>/dashboard">&#8592; Back to dashboard</a></p>
   <% } else { %>
      <p class="text-bold font-nunito"><a href="/"><span class="material-symbols-rounded homeicon text-gray-800 dark:text-gray-50">data_object</span></a><%= text %></p>
   <% } %>
</div>