<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Your Account | Git Organized</title>
</head>
<body>
   <% if (user !== "(not signed in)") { %>
      <%- include("partials/navbar"); %>

      <div class="page">
         <div class="locbar">
            <p>Home>Account</p>
          </div>
          <div class="content">
             <%= user.username %>
             <br>
             <%= user.email %>
             <br>
             <%= user.bio %>
             <br>
             <% user.links.forEach(function(link) { %>
                <a href="<%= link %>"><%= link %></a><br>
             <% }); %>
             <br>
             <%= user.dateAccountStarted %>
             <br><br>
             <%= user %>
          </div>
      </div>
      
   <%} else { %>
      <%- include("partials/signedOut"); %>
      <%- include("partials/signIn"); %>
   <% } %>
</body>
</html>