<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Your Account | Git Organized</title>
</head>
<body>
   <% if (user !== "(not signed in)") { %>
      <%- include("partials/navbar"); %>

      <div class="page">
         <div class="locbar">
            <p>Home>Account</p>
         </div>
         <div class="content">

            <div class="border-4 border-rose-50 rounded-xl">
               <div class="p-4 flex items-center">
                  <span class="material-symbols-rounded text-5xl mr-2">account_circle</span><p class="text-2xl font-nunito mt-0.5"><%= user.username %></p>
               </div>
               <p class="ml-6 mb-4 -mt-2 text-xl text-gray-500"><%= user.email %></p>
               <hr class="m-4 my-6 height-24 bg-sky-200 border-sky-200 border-[2px] rounded-full">
               <div class="p-6 pt-0">
                  <%= user.bio %>
                  <br>
                  <% user.links.forEach(function(link) { %>
                     <a href="<%= link %>" class="text-sky-400 underline"><%= link %></a><br>
                  <% }); %>
                  <br>
                  <%= user.dateAccountStarted %>
                  <br><br>
                  <p class="m-2 text-lg">Full user data object, for devs</p>
                  <p class="p-4 bg-slate-50 rounded-lg font-nunito"><%= user %></p>
                  </div>
            </div>

         </div>
      </div>
      
   <%} else { %>
      <%- include("partials/signedOut"); %>
      <%- include("partials/signIn"); %>
   <% } %>
</body>
</html>