<!DOCTYPE html>
<html lang="en">
<%- include("partials/head", { pageTitle: "Your Account" }); %>
<body>
   <% if (user !== "(not signed in)") { %>
      <div class="layout dark:bg-gray-900 dark:text-gray-100">
         <%- include("partials/navbar"); %>
         <div class="page">
            <div class="content">
               <div class="p-4 flex items-center">
                  <span class="material-symbols-rounded text-5xl mr-2">account_circle</span><p class="text-2xl font-nunito mt-0.5"><%= user.username %></p>
               </div>
               <p class="ml-6 mb-4 -mt-2 text-xl text-gray-500 dark:text-white"><%= user.email %></p>
               <hr class="m-4 my-4 height-24 bg-sky-200 dark:border-gray-700 border-sky-200 border-[1px] rounded-full">
               <div class="p-6 pt-0">
                  <%= user.bio %>
                  <br>
                  <% user.links.forEach(function(link) { %>
                     <a href="<%= link %>" class="text-sky-400 underline"><%= link %></a><br>
                  <% }); %>
                  <br>
                  <%= user.dateAccountStarted %>
                  <br><br>
                  <p class="m-2 text-lg">Full user data object, for devs:</p>
                  <p class="p-4 bg-slate-50 rounded-lg font-nunito dark:bg-gray-800"><%= user %></p>
               </div>
            </div>
         </div>
      </div>
   <%} else { %>
      <%- include("partials/signedOut"); %>
      <%- include("partials/signIn"); %>
   <% } %>
</body>
</html>