<!DOCTYPE html>
<html lang="en">
<%- include("partials/head", { pageTitle: "Editing Project" }); %>
<body>
   <% if (user !== "(not signed in)") { %>
      <%- include("partials/navbar"); %>
      <div class="page dark:bg-gray-900 dark:text-gray-100 border-l-gray-50 dark:border-l-gray-700 border-transparent" style="border-width: .3vh">
         <% if (thisProject.contributors.includes(user.userCall)) { %>
            <div class="content">

               <% if (thisProject.contributors.includes(user.userCall)) { %>
                  <script>
                     let cardArray = <%- JSON.stringify(thisProject.data) %>;
                     let projectId = <%- JSON.stringify(thisProject.id) %>;
                  </script>

                  <div class="filter absolute top-[6vh] z-10 p-3 bg-white/[.8] dark:bg-gray-800/[.8] border-b-2 border-gray-50/[.8] dark:border-gray-700/[.8] backdrop-blur-sm" style="width: calc(100% - 3vh - 70px - .3vh)">
                     <button onclick="display('createCard')" class="float-right p-2 px-4 align-middle bg-gradient-to-br from-amber-400 to-orange-400 text-white text-lg font-nunito font-semibold rounded-xl">Make a new card</button>
                     <div class="filterUpdatable inline"></div>
                     <!-- Search cards by name and description -->
                     <div class="inline-grid align-middle gap-x-2 py-1.5 px-4 ml-2 bg-white dark:bg-gray-700 outline-amber-400 outline-0 hover:outline-2 backdrop-blur-sm rounded-full" style="grid-template-columns: auto auto; box-shadow: 0 0 .2vh #22222222">
                        <span class="material-symbols-rounded text-2xl">search</span>
                        <input class="searchCards bg-transparent focus:outline-none focus:border-none" type="text" placeholder="Search..." title="🔍">
                     </div>
                  </div>
                  <div id="cardDiv">;)</div>

                  <div class="filter-box absolute bottom-0 -right-[20rem] rounded-tl-lg p-4 z-90 bg-white/[.9] dark:bg-gray-800/[.9] backdrop-blur-xl w-[20rem]">
                     <span onclick="toggleFilters()" class="p-2 absolute bottom-0 bg-white/[.9] dark:bg-gray-800/[.9] backdrop-blur-xl" style="right: 100%; transition: .3s">
                        <span class="material-symbols-rounded filter-box-toggle text-4xl">menu_open</span>
                     </span>
                     <span onclick="toggleFilters()" class="p-2 right-full absolute bottom-[3.7rem] bg-white/[.9] dark:bg-gray-800/[.9] backdrop-blur-xl rounded-tl-lg text-3xl"><p style="writing-mode: vertical-rl; transform: rotateX(180deg) rotateY(180deg)">Filters & Search</p></span>
                     <div class="text-center text-xl uppercase font-bold text-gray-400 dark:text-zinc-500">Filter Cards</div>
                     <div>
                        <form class="p-2 px-4 m-3 ml-0 border-4 border-violet-700 rounded-md relative">
                           <p class="-m-1 mb-3 text-violet-900 font-semibold text-lg text-center">Filter by status</p>
                           <select name="filter-status" id="filter-cards-by-status" class="p-1 px-2 rounded-lg bg-violet-100 dark:bg-violet-700">
                              <option value="to-do">to-do</option>
                              <option value="archived">archived</option>
                           </select>
                           <button class="py-2 px-4 bg-violet-600 dark:bg-violet-500 text-white text-semibold rounded-xl absolute right-2 bottom-2" onclick="event.preventDefault(); filterCardsByStatus(document.querySelector('#filter-cards-by-status').value)">Filter</button>
                        </form>
                        <div class="border-l-4 border-l-yellow-500 dark:border-none rounded-md">
                           <div class="py-2 px-4 m-1 bg-yellow-100 text-yellow-900 dark:text-yellow-300 dark:border-[.05rem] dark:bg-transparent darkshadow-sm dark:shadow-gray-600 dark:border-yellow-300 rounded-lg" onclick="filterCards('priority', 'asc')">Sort by Priority (Asc)</div>
                           <div class="py-2 px-4 m-1 mb-2 bg-yellow-100 text-yellow-900 dark:text-yellow-300 dark:border-[.05rem] dark:bg-transparent darkshadow-sm dark:shadow-gray-600 dark:border-yellow-300 rounded-lg" onclick="filterCards('priority', 'desc')">Sort by Priority (Desc)</div>   
                        </div>
                        <div class="border-l-4 border-l-lime-500 dark:border-none rounded-md">
                           <div class="py-2 px-4 m-1 bg-lime-100 text-lime-900 dark:text-lime-300 dark:border-[.05rem] dark:bg-transparent darkshadow-sm dark:shadow-gray-600 dark:border-lime-300 rounded-lg" onclick="filterCards('difficulty', 'asc')">Sort by Difficulty (Asc)</div>
                           <div class="py-2 px-4 m-1 mb-2 bg-lime-100 text-lime-900 dark:text-lime-300 dark:border-[.05rem] dark:bg-transparent darkshadow-sm dark:shadow-gray-600 dark:border-lime-300 rounded-lg" onclick="filterCards('difficulty', 'desc')">Sort by Difficulty (Desc)</div>   
                        </div>
                        <div class="border-l-4 border-l-pink-500 dark:border-none rounded-md">
                           <div class="py-2 px-4 m-1 bg-pink-100 text-pink-900 dark:text-pink-300 dark:border-[.05rem] dark:bg-transparent darkshadow-sm dark:shadow-gray-600 dark:border-pink-300 rounded-lg" onclick="filterCards('date', 'asc')">Sort by Due Date (Asc)</div>
                           <div class="py-2 px-4 m-1 mb-2 bg-pink-100 text-pink-900 dark:text-pink-300 dark:border-[.05rem] dark:bg-transparent darkshadow-sm dark:shadow-gray-600 dark:border-pink-300 rounded-lg" onclick="filterCards('date', 'desc')">Sort by Due Date (Desc)</div>   
                           <p class="m-2 ml-4 text-pink-900 dark:text-pink-300 text-md">*Sorting by due date will remove items without due dates</p>
                        </div>
                        <div class="py-2 px-4 text-red-600 rounded-md border-4 border-red-600 font-extrabold text-xl uppercase text-center" onclick="resetFilters()">Reset Filters</div>
                     </div>
                  </div>
               <% } %>
            </div>

            <%- include("partials/locbar", { text: "site:editproject" }); %>
            <!-- Create Card Modal -->
            <div class="createCard fixed top-0 left-0 backdrop-blur-sm overflow-auto hidden" style="height: 100vh; width: 100vw;">
               <div class="p-8 m-12 bg-white dark:bg-gray-900 rounded-xl shadow-sm shadow-gray-200 dark:shadow-gray-800">
                  <p class="create-card-text mb-6 text-2xl text-center">Let's make a card, together! 😊</p>
                  <form action="/newcard" method="POST" id="create-new-card" class="relative pb-16">

                     <div class="grid grid-cols-2">
                        <div>
                           <div class="pl-4 mb-4 border-l-4 border-l-emerald-400 rounded-md">
                              <p class="m-2 mt-4 text-xl">Card name (Required)</p>
                              <input class="py-2 px-3 bg-slate-50 dark:bg-slate-800 rounded-xl w-80" type="text" name="name" placeholder=" The name of your new card" required>
                              <br>
                              <p class="m-2 mt-4 text-xl">About card</p>
                              <textarea class="py-2 px-3 bg-slate-50 dark:bg-slate-800 rounded-xl w-80" type="text" name="about" placeholder="A little bit about the topic"></textarea>   
                           </div>
                           <div class="pl-4 border-l-4 border-l-indigo-500 rounded-md">
                              <p class="m-2 mt-4 text-xl">Priority</p>
                              <input class="py-2 px-3 bg-slate-50 dark:bg-slate-800 rounded-xl w-80" type="text" name="priority" placeholder="Number, 1-9">
                              <br>
                              <p class="m-2 mt-4 text-xl">Difficulty</p>
                              <input class="py-2 px-3 bg-slate-50 dark:bg-slate-800 rounded-xl w-80" type="text" name="difficulty" placeholder="Number, 1-9">   
                           </div>
                        </div>
                        <div>
                           <div class="pl-4 mb-4 border-l-4 border-l-pink-500 rounded-md">
                              <p class="m-2 mt-4 text-xl">Due date</p>
                              <input class="py-2 px-3 bg-slate-50 dark:bg-slate-800 rounded-xl w-80" type="date" name="dueDate">
                              <br>
                              <p class="m-2 mt-4 text-xl">Estimated time</p>
                              <input class="py-2 px-3 bg-slate-50 dark:bg-slate-800 rounded-xl w-80" type="text" name="estTime" placeholder="How long you think it'll take to finish this card">   
                           </div>   
                           <div class="pl-4 border-l-4 border-l-yellow-700 rounded-md">
                              <p class="m-2 mt-4 text-xl">Tags</p>
                              <input class="py-2 px-3 bg-slate-50 dark:bg-slate-800 rounded-xl w-80" type="text" name="tags" placeholder="Separate values by spaces">
                              <br>
                              <p class="m-2 mt-4 text-xl">Assignees</p>
                              <input class="py-2 px-3 bg-slate-50 dark:bg-slate-800 rounded-xl w-80" type="text" name="assignees" placeholder="Separate values by spaces">   
                           </div>
                        </div>
                     </div>

                     <input type="hidden" name="projectName" value="<%= thisProject.name %>">

                     <input onclick="undisplay('createCard')" class="bg-gradient-to-br from-amber-400 to-orange-400 px-5 py-3 text-white text-lg font-nunito font-semibold rounded-xl absolute bottom-4 right-4" type="submit" value="Leeeeeeeet's GO!">
                  </form>
                  <div class="text-slate-800 dark:text-slate-50 bg-slate-50 dark:bg-slate-800 rounded-3xl p-4 my-4 w-full text-xl text-center"">
                     <h2>⏰ Please be patient! This area is still under construction.</h2>
                     <p>🏗️ Remember, I'm not done making Git-Organized! ⚒️</p>
                     <p>💖 Squirrel</p>
                  </div>
               </div>
            </div>
         <% } else { %>
            <div class="flex justify-center items-center" style="height: 80vh">
               <div class="p-6 bg-gray-100 dark:bg-gray-800 rounded-lg text-center font-nunito">
                  <p class="m-3 text-gray-800 dark:text-gray-100 text-2xl">Oh, no! You aren't in this project 😭</p>
                  <p class="m-3 text-gray-800 dark:text-gray-100 text-2xl">Maybe ask to join it? I'm crossing my fingers for you!🤞</p>
               </div>
            </div>
         <% } %>
      </div>
   <%} else { %>
      <%- include("partials/signedOut"); %>
      <%- include("partials/signIn"); %>
   <% } %>
</body>
</html>
<script src="/scripts/digit-v.0.1.1-tweaked.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/scripts/edit-project.js"></script>
<style>
.cardObject {
   display: grid;
   grid-template-columns: auto auto;
}

@media screen and (max-width: 1300px) {
   .cardObject { grid-template-columns: auto; }
   .card { margin: 8px; }
}
</style>
