<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Global Actions | Git Organized</title>
</head>
<body>
   <style>
      .action-box {
         background-color: #fefefe;
         border-radius: 4px;
         margin-bottom: 10px;
         padding: 20px;
         font-family: "Nunito", sans-serif;
         color: #222;
      }

      .action-box a {
         color: #222;
         text-decoration: none;
      }

      .action-box:nth-child(odd) {
         background-color: #f9f9f9;
      }
   </style>
   <% if (user !== "(not signed in)") { %>
      <%- include("partials/navbar"); %>

      <div class="page">
         <div class="locbar">
            <p>Home>Global Actions</p>
         </div>
         <div class="content">
            <div class="p-4 border-2 border-gray-50 rounded-lg">
               <% actions.forEach(function(action) { %>
                  <div class="action-box">
                     <h3><%= action.text %></h3>
                     <i>User: <%= action.userCall %></i>
                     <p>Date: <%= action.time %></p>
                     <p>Location: <%= action.location %></p>
                     <br>
                     <b>Dev Data</b>
                     <p>MONGO ID: <%= action._id %></p>
                     <p>TYPE DATA: <%= action.type %></p>
                     <p>ID: <%= action.id %></p>
                  </div>
               <% }); %>
            </div>
         </div>
      </div>
   <%} else { %>
      <%- include("partials/signedOut"); %>
      <%- include("partials/signIn"); %>
   <% } %>
</body>
</html>