<!DOCTYPE html>
<html lang="en">
<%- include("partials/head", { pageTitle: "Home" }); %>
<body>
   <% if (user !== "(not signed in)") { %>
      <div class="layout dark:bg-gray-900 dark:text-gray-100">
         <%- include("partials/navbar"); %>

         <div class="page">
            <p class="text-center text-4xl font-nunito font-medium m-8">Welcome to Git Organized, <span class="bg-gradient-to-br from-yellow-400 to-orange-400 text-white px-4 py-1 font-serif rounded-full"><%= user.username %></span>!</p>
            <div class="margin-24 bg-purple-400 dark:bg-purple-700 text-white p-6 rounded-lg m-3 text-lg duration-200 delay-50 border-l-4 hover:border-l-8 border-purple-500 dark:border-purple-800">
               <h3 class="text-2xl">Project Settings - v0.3.0!</h3>
               That was quick!<br>
               Wow, accounts! Secured with bcrypt too. Sooooooo cool!<br>
               Lookit that! You can change project names and descriptions now. Go try it!<br>
               And! You can finally edit card name and info. Yay! Editing other information coming soon!<br>
               Want to see the code? Check out the release <a class="underline" href="https://github.com/editorrust/git-organized/releases/tag/v0.2.0">on GitHub!</a><br>
               <p class="font-thin">Logging out! - Editor Rust</p>
            </div>
            <div class="p-2 my-4 bg-gray-50 dark:bg-gray-800 rounded-xl">
               <p class="m-4">Continue where you left off:</p>
               <% for (let i = 0; i < 5; i++) { %>
                  <% if (projects[i]) { %>
                     <% if (projects[i].contributors.includes(user.userCall)) { %>
                        <div class="py-4 px-6 m-2 mb-3 font-nuntio rounded-md bg-white dark:bg-gray-900 border-l-8 border-sky-400">
                           <a class="text-4xl font-serif" href="/<%= projects[i].name %>/dashboard"><%= projects[i].name %></a><br>
                           <p class="text-gray-600 font-nunito font-medium text-xl"><%= projects[i].description %></p>
                         </div>
                      <% } %>
                  <% } %>
               <% } %>
            </div>

            <div class="p-2 my-4 bg-gray-50 dark:bg-gray-800 rounded-xl">
               <p class="m-4">Check out what others are doing:</p>
                  <% for (let i = 0; i < 5; i++) { %>
                     <% if (projects[i]) { %>
                        <% if (!projects[i].contributors.includes(user.userCall)) { %>
                           <div class="py-4 px-6 m-2 mb-3 font-nuntio rounded-md bg-white dark:bg-gray-900 border-l-8 border-orange-300">
                              <a class="text-4xl font-serif" href="/<%= projects[i].name %>/dashboard"><%= projects[i].name %></a><br>
                              <p class="text-gray-600 font-nunito font-medium text-xl"><%= projects[i].description %></p>
                            </div>
                           <% } %>
                     <% } %>
                  <% } %>
               <p>
            </div>
         </div>
      </div>
   <%} else { %>
      <%- include("partials/signedOut"); %>
   <% } %>
</body>
</html>