<!DOCTYPE html>
<html lang="en">
<%- include("partials/head", { pageTitle: "Home" }); %>
<body>
   <% if (user !== "(not signed in)") { %>
      <div class="layout dark:bg-gray-900 dark:text-gray-100">
         <%- include("partials/navbar"); %>

         <div class="page">
            <p class="text-center text-4xl font-nunito font-medium m-8">Welcome to Git Organized, <span class="bg-gradient-to-br from-yellow-400 to-orange-400 text-white px-4 py-1 font-serif rounded-full"><%= user.username %></span>!</p>
               <div class="margin-24 bg-amber-400 dark:bg-cyan-700 text-white p-6 rounded-lg m-3 text-lg duration-200 delay-50 border-l-4 hover:border-l-8 border-amber-500 dark:border-cyan-800">
                  <h3 class="text-2xl">Dashboard - v0.2.0!</h3>
                  You might have noticed some stuff's moved around. And the location bar is gone! All sorts of cool stuff. Check out the release <a class="underline" href="https://github.com/editorrust/git-organized/releases/tag/v0.2.0">on GitHub</a> <br>
                  Some old links you have might be broken now, so you might want to check those. <br>
                  But also! I replaced the project overview with a dashboard. It isn't perfect yet, but it'll get there!
                  <p class="font-thin">Have fun! - Editor Rust</p>
               </div>
               <div class="margin-24 bg-rose-500 dark:bg-rose-800 text-white p-6 rounded-lg m-3 text-lg duration-200 delay-50 border-l-4 hover:border-l-8 border-rose-600 dark:border-rose-900">
                  BTW you're automatically being signed into my account, 'cause we're still in pre-release. Just do whatever you like here, for now it's just an experiment! 🧪
               </div>
               <div class="p-2 my-4 bg-gray-50 dark:bg-gray-800 rounded-xl">
                  <p class="m-4">Continue where you left off:</p>
                  <% for (let i = 0; i < 5; i++) { %>
                     <% if (projects[i]) { %>
                        <% if (projects[i].contributors.includes(user.userCall)) { %>
                           <div class="py-4 px-6 m-2 mb-3 font-nuntio rounded-md bg-white dark:bg-gray-900 border-l-8 border-sky-400">
                              <a class="text-4xl font-serif" href="/<%= projects[i].name %>/dashboard"><%= projects[i].name %></a><br>
                              <p class="text-gray-600 font-nunito font-medium text-xl"><%= projects[i].description %></p>
                            </div>
                         <% } %>
                     <% } %>
                  <% } %>
               </div>

               <div class="p-2 my-4 bg-gray-50 dark:bg-gray-800 rounded-xl">
                  <p class="m-4">Check out what others are doing:</p>
                     <% for (let i = 0; i < 5; i++) { %>
                        <% if (projects[i]) { %>
                           <% if (!projects[i].contributors.includes(user.userCall)) { %>
                              <div class="py-4 px-6 m-2 mb-3 font-nuntio rounded-md bg-white dark:bg-gray-900 border-l-8 border-orange-300">
                                 <a class="text-4xl font-serif" href="/<%= projects[i].name %>/dashboard"><%= projects[i].name %></a><br>
                                 <p class="text-gray-600 font-nunito font-medium text-xl"><%= projects[i].description %></p>
                               </div>
                              <% } %>
                        <% } %>
                     <% } %>
                  <p>
               </div>
         </div>
      </div>
   <%} else { %><%- include("partials/signedOut"); %><% } %>
</body>
</html>