<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="Styles/home.css">
   <link rel="stylesheet" href="Styles/projects.css">
   <title>Popular Projects | Git Organized</title>
</head>
<body>
   <!-- Will later judge based on amount of actions multiplied by actions in last month -->
   <% if (user !== "(not signed in)") { %>
      <%- include("partials/navbar"); %>

      <div class="page">
         <div class="locbar">
            <p>Home>Popular Projects</p>
          </div>
          <div class="content">
             <% projects.forEach(function(project) { %>
                <div class="projectBlock">
                   <a href="/project/<%= project.name %>"><%= project.name %></a><br>
                </div>
             <% }); %>
             <p>ane aouehdfirbskah wbdoiakhyfb kh wadofkhobr kajhbef lkhb alkehjbf ooo uba wekfhb klhjblkbgejhfb khsb fkhb ekhbg rkhb iyg keujhv bi iwuoh duwn irubh wbd owuh</p>
          </div>
      </div>
      
   <% } else { %>
      <%- include("partials/signedOut"); %>
      <%- include("partials/signIn"); %>
   <% } %>
</body>
</html>