<!DOCTYPE html>
<html lang="en">
<%- include("partials/head", { pageTitle: "Project Overview" }); %>
<body>
   <% if (user !== "(not signed in)") { %>
      <%- include("partials/navbar"); %>
      <div class="page dark:bg-gray-900 dark:text-gray-100 border-l-gray-50 dark:border-l-gray-700 border-transparent" style="border-width: .3vh">
         <div class="content grid" style="grid-template-columns: 70% 30%">
            <div class="main">
               <% if (thisProject.contributors.includes(user.userCall)) { %>
                  <div id="cardDiv"></div>
               <% } else { %>
                  <div class="flex justify-center items-center" style="height: 80vh">
                     <div class="p-6 bg-gray-100 dark:bg-gray-800 rounded-lg text-center font-nunito">
                        <p class="m-3 text-gray-800 dark:text-gray-100 text-2xl">Oh, no! You aren't in this project 😭</p>
                        <p class="m-3 text-gray-800 dark:text-gray-100 text-2xl">Maybe ask to join it? I'm crossing my fingers for you!🤞</p>
                     </div>
                  </div>
               <% } %>
            </div>
            <div>
               <div>
                  <% if (thisProject.contributors.includes(user.userCall)) { %>
                     <p class="text-center text-xl uppercase font-bold text-gray-300 dark:text-gray-700">Filter Cards</p>
                     <form class="p-2 px-4 m-3 ml-0 border-4 border-violet-700 rounded-md relative">
                        <p>Filter by status</p>
                        <select name="filter-status" id="filter-cards-by-status" class="p-1 px-2 rounded-lg dark:bg-violet-700">
                           <option value="to-do">to-do</option>
                           <option value="archived">archived</option>
                        </select>
                        <button class="py-2 px-4 bg-violet-600 dark:bg-violet-500 text-white text-semibold rounded-xl absolute right-2 bottom-2" onclick="event.preventDefault(); filterCards(document.querySelector('#filter-cards-by-status').value)">Filter</button>
                     </form>
                     <p class="py-2 mb-4 text-2xl bg-emerald-100 dark:bg-emerald-700 rounded-md text-center font-nunito">You are in this project!</p>
                  <% } %>
               </div>
               <div class="p-6 text-gray-800 dark:text-gray-200 bg-gray-50 dark:bg-gray-800 rounded-xl">
                  <div class="p-4 mb-2 bg-gray-100 dark:bg-gray-700 rounded-xl">
                     <p class="flex items-center mb-3 text-2xl"><span class="material-symbols-rounded mr-2 text-3xl gradient-project-overview">badge</span><%= thisProject.name %></p>
                     <p class="m-1 mb-3 text-1xl"><%= thisProject.description %></p>
                  </div>
                  <p class="flex items-center mb-3 text-1xl"><span class="material-symbols-rounded mr-2 text-3xl gradient-project-overview">person_filled</span> Made by <%= thisProject.creater %></p>
                  <p class="flex items-center mb-3 text-1xl"><span class="material-symbols-rounded mr-2 text-3xl gradient-project-overview">group</span> Contributors: <%= thisProject.contributors %></p>
                  <p class="flex items-center mb-3 text-1xl"><span class="material-symbols-rounded mr-2 text-3xl gradient-project-overview">calendar_today</span> Created: <%= thisProject.dateCreated.toLocaleString() %></p>
               </div>
            </div>


            <%- include("partials/locbar", { text: "site:projectoverview" }); %>
         </div>
      </div>
   <%} else { %>
      <%- include("partials/signedOut"); %>
      <%- include("partials/signIn"); %>
   <% } %>
</body>
<style>
.gradient-project-overview {
   background: linear-gradient(to bottom right, #82b1ff, #2962ff);
   -webkit-background-clip: text;
   -webkit-text-fill-color:transparent;
   background-clip: text;
}
</style>
<script>let cardArray = <%- JSON.stringify(thisProject.data) %></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/scripts/project-overview.js"></script>
</html>