<!DOCTYPE html>
<html lang="en">
<%- include("partials/head", { pageTitle: "Project Overview" }); %>
<body>
   <% if (user !== "(not signed in)") { %>
      <%- include("partials/navbar"); %>
      <div class="page dark:bg-gray-900 dark:text-gray-100 border-l-gray-50 dark:border-l-gray-700 border-transparent" style="border-width: .3vh">
         <div class="content grid"  style="grid-template-columns: 70% 30%">

            <div class="main">
               <% if (thisProject.contributors.includes(user.userCall)) { %>
                  <p class="m-2 mb-4 text-2xl text-center font-nunito">You are in this project!</p>

                  <!-- Start React Test -->
                  <div id="mydiv"></div>
                  <div id="root"></div>
                  <script type="text/babel">
                  // "use strict";

                  requirejs.config({
                     paths: {
                        react: 'https://unpkg.com/react@17/umd/react.production.min',
                        'react-dom': 'https://unpkg.com/react-dom@17/umd/react-dom.production.min',
                     },
                  });

                  requirejs(['react', 'react-dom'], function (React, ReactDOM) {
                     ReactDOM.render(
                        React.createElement('p', {}, 'Hello, AMD!'),
                        document.getElementById('root')
                     );



                     function Hello() {
                        return <h1>Hello World!</h1>;
                     }
                 
                     ReactDOM.render(<Hello />, document.getElementById("mydiv"));

                  });



                  

                  </script>
                  <!-- End React Test -->


                  <div class="p-1 mr-3 bg-gray-50 dark:bg-gray-800 rounded-lg">
                     <% thisProject.data.forEach(function(card) { %>
                        <% if (card.status != "archived") { %>
                           <div class="py-2 px-4 m-4 bg-white dark:bg-gray-900 border-l-8 border-l-amber-300 dark:border-l-amber-500 rounded-lg relative">
                              <div class="grid grid-cols-9">
      
                                 <div class="col-span-5">
                                    <div class="px-4 border-l-4 border-l-emerald-400 rounded-sm">
                                       <p class="text-2xl"><%= card.name %></p>
                                    <p class="text-xl text-gray-700"><%= card.about %></p>
                                    </div>


                                    <% if (card.assignees.length > 0) { %>
                                       <div class="m-1">
                                          <% card.assignees.forEach(function(person) { %>
                                             <span class="py-1 px-3 inline-block">@<%= person %></span>
                                          <% }); %>
                                       </div>
                                    <% } %>
                                    <% if (card.tags.length > 0) { %>
                                       <div class="m-1">
                                          <% card.tags.forEach(function(tag) { %>
                                             <span class="py-1 px-3 bg-rose-400 dark:bg-rose-600 rounded-full inline-block"><%= tag %></span>
                                          <% }); %>
                                       </div>
                                    <% } %>
                                 </div>
                                 <div class="p-3 my-2 bg-gray-50 dark:bg-gray-800 rounded-2xl col-span-3">
                                    <p class="flex items-center mb-1"><span class="material-symbols-rounded mr-1">group</span>Contributors: <%= card.contributors %></p>
   
                                    <p class="flex items-center mb-1"><span class="material-symbols-rounded mr-1">schedule</span>Estimated time: <%= card.estTime %></p>
                                    <p class="flex items-center mb-1"><span class="material-symbols-rounded mr-1">calendar_month</span>Due date: <%= card.dueDate %></p>
   
                                    <% if (card.status == "to-do") { %>
                                       <p class="flex items-center mb-1"><span class="material-symbols-rounded mr-1">pending</span><span class="bg-emerald-200 dark:bg-emerald-500 py-1 px-2 rounded-xl">Status: <%= card.status %></p>
                                    <% } else { %>
                                       <p class="flex items-center mb-1"><span class="material-symbols-rounded mr-1">pending</span><span class="bg-gray-200 dark:bg-gray-500 py-1 px-2 rounded-xl">Status: <%= card.status %></span></p>
                                    <% } %>
                                 </div>
         
                                 <div dir="rtl">
                                    <div class="p-2 mb-2 w-[67px] bg-gray-50 dark:bg-gray-800 rounded-2xl">
                                       <div title="Priority" class="text-white text-4xl bg-red-500 rounded-2xl font-notosansmono mb-2" style="height: 50px; width: 50px; display: flex; justify-content: center; align-items: center;"><%= card.priority %></div>
                                       <div title="Difficulty" class="text-white text-4xl bg-sky-500 rounded-2xl font-notosansmono" style="height: 50px; width: 50px; display: flex; justify-content: center; align-items: center;"><%= card.difficulty %></div>
                                    </div>
                                 </div>
      
                              </div>
      
   
                           </div>
                        <% } %>
                     <% }); %>
                  </div>



                  <% } else { %>
                     <div class="flex justify-center items-center" style="height: 80vh">
                        <div class="p-6 bg-gray-100 dark:bg-gray-800 rounded-lg text-center font-nunito">
                           <p class="m-3 text-gray-800 dark:text-gray-100 text-2xl">Oh, no! You aren't in this project 😭</p>
                           <p class="m-3 text-gray-800 dark:text-gray-100 text-2xl">Maybe ask to join it? I'm crossing my fingers for you!🤞</p>
                        </div>
                     </div>
                  <% } %>
            </div>

            <div class="p-6 text-gray-800 dark:text-gray-200 bg-gray-50 dark:bg-gray-800 rounded-xl">
               <div class="p-4 mb-2 bg-gray-100 dark:bg-gray-700 rounded-xl">
                  <p class="flex items-center mb-3 text-2xl"><span class="material-symbols-rounded mr-2 text-3xl gradient-project-overview">badge</span><%= thisProject.name %></p>
                  <p class="m-1 mb-3 text-1xl"><%= thisProject.description %></p>   
               </div>
               <p class="flex items-center mb-3 text-1xl"><span class="material-symbols-rounded mr-2 text-3xl gradient-project-overview">person_filled</span> Made by <%= thisProject.creater %></p>
               <p class="flex items-center mb-3 text-1xl"><span class="material-symbols-rounded mr-2 text-3xl gradient-project-overview">group</span> Contributors: <%= thisProject.contributors %></p>
               <p class="flex items-center mb-3 text-1xl"><span class="material-symbols-rounded mr-2 text-3xl gradient-project-overview">calendar_today</span> Created: <%= thisProject.dateCreated.toLocaleString() %></p>
            </div>


            <%- include("partials/locbar", { text: "site:projectoverview" }); %>
         </div>
      </div>
   <%} else { %>
      <%- include("partials/signedOut"); %>
      <%- include("partials/signIn"); %>
   <% } %>
</body>


<style>
   .gradient-project-overview {
      background: linear-gradient(to bottom right, #82b1ff, #2962ff);
      -webkit-background-clip: text;
      -webkit-text-fill-color:transparent;
      background-clip: text;
   }
</style>

</html>