<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/Styles/home.css">
   <link rel="stylesheet" href="/Styles/projects.css">
   <link rel="stylesheet" href="/Styles/project-overview.css">
   <title><%= thisProject.name %> | Git Organized</title>
</head>
<body>
   <% if (user !== "(not signed in)") { %>
      <%- include("partials/navbar"); %>
      
      <div class="page">
         <div class="locbar">
            <p>Home>Projects><%= thisProject.name %></p>
          </div>
          <div class="content">
             <div class="main">
               <% if (thisProject.contributors.includes(user.userCall)) { %>
                  <p>You are in this project!</p>
               <% } else { %>
                  <p>You are not in this project!</p>
               <% } %>
               <br><br><br><br>
               <p>Activity: <%= thisProject.activity %></p>
               <p>Data: <%= thisProject.data %></p>
               <p>wjkhsfveksrhvb klhbs fkhvb kshebf klahevfkehvf lkahevfkhasve glkshevhsevg kshevg klsheg kehv quegfvijgv efsjhgv kjgv</p>
             </div>
             <div class="quick">
               <p>Name: <%= thisProject.name %></p>
               <p>Creator: <%= thisProject.creater %></p>
               <p>Contributors: <%= thisProject.contributors %></p>
               <p>About: <%= thisProject.description %></p>
               <p>Date Created: <%= thisProject.dateCreated %></p>
            </div>
          </div>
      </div>
      
   <%} else { %>
      <%- include("partials/signedOut"); %>
      <%- include("partials/signIn"); %>
   <% } %>
</body>
</html>