<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="Styles/home.css">
   <link rel="stylesheet" href="Styles/projects.css">
   <title>Your Projects | Git Organized</title>
</head>
<body>
   <% if (user !== "(not signed in)") { %>
      <%- include("partials/navbar"); %>

      <div class="page">
         <div class="locbar">
            <p>Home>Your Projects</p>
          </div>
          <div class="content">
             <button><a href="/new-project">Make a new project</a></button>
             <%= projects %>
             <br>
             <% projects.forEach(function(project) { %>
                <% if (project.contributors.includes(user.userCall)) { %>
                   <div class="projectBlock">
                      <a href="/project/<%= project.name %>"><%= project.name %></a><br>
                   </div>
                <% } %>
             <% }); %>
          </div>
      </div>
      
   <% } else { %>
      <%- include("partials/signedOut"); %>
      <%- include("partials/signIn"); %>
   <% } %>
</body>
</html>