<!DOCTYPE html>
<html lang="en">
<%- include("partials/head", { pageTitle: "Your Projects" }); %>
<body>
   <% if (user !== "(not signed in)") { %>
      <div class="layout dark:bg-gray-900 dark:text-gray-100">
         <%- include("partials/navbar"); %>

         <div class="page">
            <div class="p-1 relative">
               <p class="text-4xl m-4 mb-6 dark:m-1 dark:mb-4 uppercase dark:bg-gray-800 dark:py-4 dark:px-8 rounded-xl inline-block text-amber-400 font-bold" style="text-shadow: 2px 2px #ff9800;">Projects you are in</p>
               <div class="p-2 bg-gray-50 dark:bg-gray-800 rounded-xl">
                  <% projects.forEach(function(project) { %>
                     <% if (project.contributors.includes(user.userCall)) { %>
                        <div class="py-4 px-6 m-2 mb-3 font-nuntio rounded-md bg-white dark:bg-gray-900 border-l-8 border-sky-400">
                          <a class="text-4xl" href="/project/<%= project.name %>"><%= project.name %></a><br>
                          <p class="text-gray-600 font-nunito font-medium text-xl"><%= project.description %></p>
                        </div>
                     <% } %>
                  <% }); %>
               </div>
               <div class="flex justify-center">
                  <button class="absolute top-3 right-3 bg-gradient-to-br from-amber-400 to-orange-400 px-5 py-3 text-white text-lg font-nunito font-semibold rounded-xl"><a href="/new-project">Make a new project</a></button>
               </div>
            </div>
         </div>
      </div>
      <%- include("partials/locbar", { text: "Home>Account" }); %>
   <%} else { %>
      <%- include("partials/signedOut"); %>
      <%- include("partials/signIn"); %>
   <% } %>
</body>
</html>