<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title><%= thisProject.name %> | Git Organized</title>
</head>
<style>
.gradient-project-overview {
   background: linear-gradient(to bottom right, #82b1ff, #2962ff);
   -webkit-background-clip: text;
   -webkit-text-fill-color:transparent;
   background-clip: text;
}
</style>
<body>
   <% if (user !== "(not signed in)") { %>
      <%- include("partials/navbar"); %>
      
      <div class="page">
         <div class="locbar">
            <p>Home>Projects><%= thisProject.name %></p>
          </div>
          <div class="content grid" style="grid-template-columns: 70% 30%">
             <div class="main">
               <% if (thisProject.contributors.includes(user.userCall)) { %>
                  <p class="center text-2xl font-nunito">You are in this project!</p>
               <% } else { %>
                  <p class="center text-2xl font-nunito">You are not in this project!</p>
               <% } %>
               <br><br><br><br>
               <p>Activity: <%= thisProject.activity %></p>
               <p>Data: <%= thisProject.data %></p>
             </div>
             <div class="p-6 bg-gray-50 rounded-xl">
               <div class="p-4 mb-2 bg-gray-100 rounded-xl">
                  <p class="flex items-center mb-3 text-2xl"><span class="material-symbols-rounded mr-2 text-3xl gradient-project-overview">badge</span><%= thisProject.name %></p>
                  <p class="m-1 mb-3 text-1xl"><%= thisProject.description %></p>   
               </div>
               <p class="flex items-center mb-3 text-1xl"><span class="material-symbols-rounded mr-2 text-3xl gradient-project-overview">person_filled</span> Made by <%= thisProject.creater %></p>
               <p class="flex items-center mb-3 text-1xl"><span class="material-symbols-rounded mr-2 text-3xl gradient-project-overview">group</span> Contributors: <%= thisProject.contributors %></p>
               <p class="flex items-center mb-3 text-1xl"><span class="material-symbols-rounded mr-2 text-3xl gradient-project-overview">calendar_today</span> Created: <%= thisProject.dateCreated %></p>
               <p class="flex items-center mb-3 text-1xl"><span class="material-symbols-rounded mr-2 text-3xl gradient-project-overview">draft</span><span class="p-4 py-3 bg-slate-100 rounded-lg font-nunito">UUID: <%= thisProject.id %></span></p>
               <p class="flex items-center mb-3 text-1xl"><span class="material-symbols-rounded mr-2 text-3xl gradient-project-overview">data_object</span><span class="p-4 py-3 bg-slate-100 rounded-lg font-nunito">_id: <%= thisProject._id %></span></p>
            </div>
          </div>
      </div>
      
   <%} else { %>
      <%- include("partials/signedOut"); %>
      <%- include("partials/signIn"); %>
   <% } %>
</body>
</html>